/* TableView */
.table-view{
   -fx-background-color: transparent;
}
.table-view:focused{
    -fx-background-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color: #FFFFFF;
}
.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #212121;
}
.table-view .column-header {
    -fx-background-color: transparent;
}
.table-view .table-cell {
    -fx-text-fill: #212121;
}
.table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, #FFFFFF;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
	-fx-table-cell-border-color: transparent;
	-fx-pref-height: 30;
}
.table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, #F9F9F9;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}
.table-row-cell:selected {
    -fx-background-color: #E3E3E3;
}
.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}
.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}
.table-view .filler {
	-fx-background-color: #FFFFFF;
}
.table-column{
    -fx-alignment: CENTER;
	-fx-min-width: 20;
}

/* TextFields */
.text-field {
	-fx-pref-height: 35;
}
.text-field, .text-area {
	-fx-border-color: #E8E7E3;
	-fx-background-color: #F3F2EE;
	-fx-border-radius: 4;
	-fx-background-radius: 4;
	-fx-effect: innershadow(gaussian, transparent, 0, 0, 0, 0);
}
.text-area .content {
	-fx-background-color: #F3F2EE;
}
.text-area.error .content {
	-fx-background-color: #FFC0A4;
}

.text-field:focused, .text-area:focused .content {
	-fx-background-color: #FFFFFF;
}
.text-field.error, .text-area.error .content {
	-fx-border-color: #EB5E28;
	-fx-background-color: #FFC0A4;
}
.text-field.error:focused, .text-area.error:focused .content {
	-fx-background-color: #FFFFFF;
}
.text-field.success, .text-area.success .content{
	-fx-border-color: #E8E7E3;
}
.text-field.success:focused, .text-area.error:focused .content{
	-fx-border-color: #7AC29A;
}

/*  Buttons */
.jfx-button.success, .jfx-button.error {
	-fx-cursor: hand;	
}
.jfx-button.success .jfx-rippler {
      -fx-rippler-fill:#8BC78E;
}
.jfx-button.error .jfx-rippler {
      -fx-rippler-fill:#d9534f;
}
.jfx-button.menuItem {
    -fx-text-fill: #FFF;
    -fx-font: bold 15px "Open Sans Condensed";
	-fx-pref-width: 235;
	-fx-pref-height: 40;
    -fx-padding: 0 0 0 20;
	-fx-cursor: hand;
}
.jfx-button.menuItem .jfx-rippler {
    -fx-rippler-fill: #212120;
}
.jfx-button.menuItem:focused {
	-fx-background-color: #3E464C;
}
.jfx-button.menuItem:hover {
	-fx-background-color: #3E464C;
}
.windowButton, .closeButton {
	-fx-background-radius: 0;
	-fx-border-radius: 0;
}
.windowButton:hover {
	-fx-background-color: #E0E0E0;	
}
.closeButton:hover {
	-fx-background-color: #E81123;
}
.jfx-hamburger StackPane {
	-fx-background-color: #FFF;
}
.jfx-hamburger {
	-fx-cursor: hand;
}
/* Scroll Bars */
.scroll-bar {
	-fx-background-color: transparent;
	-fx-background-radius: 0;
	-fx-block-increment: 50;
}
.corner {
	-fx-background-color: transparent;
}
.scroll-bar .decrement-button, .scroll-bar .decrement-arrow {
	visibility: hidden;
	-fx-pref-height: 1;
	-fx-pref-width: 1;
}
.scroll-bar .increment-button, .scroll-bar .increment-arrow {
	visibility: hidden;
	-fx-pref-height: 1;
	-fx-pref-width: 1;
}
.scroll-bar:vertical {
	-fx-pref-width: 10;
}
.scroll-bar:vertical .track {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-background-radius: 5;
}
.scroll-bar:vertical .track-background {
	-fx-background-color: transparent;
	-fx-background-insets: 0;
	-fx-background-radius: 3;
}
.scroll-bar:vertical .thumb {
	-fx-background-color: #c9c9c9;
	-fx-background-insets: 0 2 0 2;
	-fx-background-radius: 3;
}
.scroll-bar:vertical .thumb:hover {
	-fx-background-color: #b5b5b5;
}
.scroll-bar:vertical .thumb:pressed {
	-fx-background-color: #a0a0a0;
}
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
	-fx-background-color: transparent;
	-fx-background-radius: 3;
	-fx-padding: 5;
}
.scroll-bar:vertical:focused {
	-fx-background-color: transparent, rgb(96, 96, 96), rgb(96, 96, 96);
}

/* ComboBoxes */
.combo-box {
	-fx-min-height: 35;
}
.combo-box {
	-fx-border-color: #E8E7E3;
    -fx-font: 14px "System";
	-fx-background-color: #F3F2EE;
	-fx-border-radius: 4;
	-fx-background-radius: 4;
	-fx-effect: none;
}
.combo-box:focused {
	-fx-background-color: #FFFFFF;
}
.combo-box.error {
	-fx-border-color: #EB5E28;
	-fx-background-color: #FFC0A4;
}
.combo-box.error:focused {
	-fx-background-color: #FFFFFF;
}
.combo-box.success {
	-fx-border-color: #E8E7E3;
}
.combo-box.success:focused {
	-fx-border-color: #7AC29A;
}

.clientBackground, .supplierBackground, .paperBackground, .machineBackground {
	-fx-background-size: cover;
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
}
.clientBackground {
	-fx-background-image: url("../images/0.jpg");
}
.supplierBackground {
	-fx-background-image: url("../images/1.jpg");
}
.paperBackground {
	-fx-background-image: url("../images/2.png");
}
.machineBackground {
	-fx-background-image: url("../images/3.png");
}

.scroll-pane:focused {
    -fx-background-insets: 0, 1;
}